{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{# 1) Lorsque le Thème est inclus dans le même fichier que le formulaire : #}
{% form_theme form _self %}

{# ou : #}
{# 2) Lorsque le thème est présent dans un fichier externalisé : #}
{# {% form_theme form 'partials/theme.html.twig' %} #}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle annonce</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la nouvelle annonce</button>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block _ad_images_widget %}
{# Le préfixe "_ad_images" provient de l'ID de la zone de l'image dans le formulaire ("ad_images") auquel on rajoute "_" avant le nom et "_widget" à la fin du nom.
Dans la formualaire, on a : <div id="ad_images">...   #}

    <p>Ici, vous pouvez ajouter vos propres images</p>

    {{ form_widget(form) }}

    <d class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </d>
{% endblock %}


{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}


{% block _ad_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
            </div>
        </div>


    </div>
{% endblock %}


{% block javascripts %}
    <script>
        // Ajouter un bloc Image dans le formulaire :
        $('#add-image').click(function() {
            const index = $('#ad_images div.form-group').length;

            var container_sous_formulaire = $('#ad_images');

            // Récupérer le prototype des entrées :
            const tmpl = $(container_sous_formulaire).data('prototype').replace(/__name__/g, index);
console.log(tmpl);
            // J'injecte ce template au sein de la Div contenant les sous-formulaires :
            $(container_sous_formulaire).append(tmpl);
            handleDeleteButton();
        });

        // Supprimer un bloc Image dans le formulaire :
        function handleDeleteButton() {
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            })
        }

        handleDeleteButton();
    </script>
{% endblock %}